.low {
  color: red;
}

.up {
  color: green;
}

.curDate {
  font-size: 32px;
  padding: 16px;
  display: flex;
  justify-content: center;
  margin: 0;
}

.currentValute {
  font-size: 24px;
  margin: 0 30%;
  padding: 0;
}

.tableRate {
  margin: 0;
  padding: 0;
}

.Rate {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #bbbbbb;
}

.Rate:hover {
  box-shadow: 1px 1px 3px 0px black;
  cursor: pointer;
}

.Rate:active {
  box-shadow: none;
}

.prevRates {
  padding: 8px 8px 8px 8px;
  display: flex;
  justify-content: space-between;
}
